# Allegro API Credentials
# Get them at https://apps.developer.allegro.pl/
ALLEGRO_CLIENT_ID=
ALLEGRO_CLIENT_SECRET=
ALLEGRO_USE_SANDBOX=false

# Proxy Configuration (Optional, for bypassing blocks)
PROXY_HOST=eu.proxy.2captcha.com
PROXY_PORT=2334
PROXY_USERNAME=ua968b7d956db05c7-zone-custom
PROXY_PASSWORD=ua968b7d956db05c7
